<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="product-list">
    <app-product (info)="presentModal(product)" *ngFor="let product of productsService.getProducts()" [imageSrc]="product.img" [nombre]="product.nombre"
                 [descripcion]="product.descripcion"></app-product>
    <app-add-product-card (addProduct)="addProduct()"></app-add-product-card>
  </div>
</ion-content>
