<ion-header>
  <ion-toolbar>
    <ion-title>Añadir producto</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="addProductForm">
    <ion-input formControlName="url" name="url" placeholder="URL de imagen"></ion-input>
    <ion-input formControlName="nombre" name="nombre" placeholder="Nombre"></ion-input>
    <ion-input formControlName="descripcion" name="descripcion" placeholder="Descripcion"></ion-input>
    <ion-input formControlName="precio" name="precio" placeholder="Precio"></ion-input>
    <div class="buttons">
      <ion-button (click)="submit()">Añadir</ion-button>
    </div>
  </form>
</ion-content>
