<ion-header>
  <ion-toolbar>
    <ion-title>Informacion de producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-img [src]="product.img"></ion-img>
    </ion-col>
    <ion-col>
      <h2 >
        {{product.nombre}}
      </h2>
      <h3>
        {{product.descripcion}}
      </h3>
      <h3 style="font-weight: 700; font-size: 2.25rem">
        {{product.precio}}
      </h3>
    </ion-col>
  </ion-row>
  <div class="buttons">
    <ion-button (click)="eliminar(product.id)" color="danger">Eliminar</ion-button>
    <ion-button (click)="editar()" color="primary">Editar</ion-button>
  </div>
</ion-content>
